body{
    background-image: url(Images/mainpageBG.png);
    font-family: sans-serif, Arial, Helvetica;
    margin: 0;
    padding: 0;
}
header{
   padding: 1px;
   height: 100px;
   font-size: 25px;
   text-align: left;
   background-color: rgb(19, 18, 16);
}
header a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    margin-top: -40px;
    margin-left: 170px;
}
header  .games a{
    position: absolute;
    left: 180px;
    top: 100px;
}
header .logo a{
    background-image:url(Images/catLogo.png);
    background-position:center;
    background-size: 230px;
    background-repeat: no-repeat;
    display:inline-block;
    height: 200px;
    text-indent: -999999999px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    left: -150px;
    top:55px
}
ul{
    margin-top: 60px;
    margin-right: 10px;
    margin-left: 20px;
    list-style-type: none;
}
li{
    display: inline-block;
}
section.feature-box.first-row{
   background-size: 100%;
   background-position: center;
   background-repeat: no-repeat;
   height: 650px;
   color: rgb(255, 255, 255);
   padding: 20px;
   display: flex;
   flex-direction: row;
   align-items: center;
   flex-direction: column;
   text-align: center;
}
section.feature-box.gameContent{
    margin-top: 150px;
    margin-left: 200px;
}
.feature-box.gameContent figcaption{
    margin-left: 90px;
    font-size: 20px;
}
.feature-box.gameContent img{
    width: 200px;
    border-radius: 50%;
    border:1px white;
    box-shadow: black 10px 0px 10px;
}

.feature-box.first-row div {
    margin: 15px; 
    width: 200px;
}

.feature-box.first-row .address {
    font-size: 30px; 
    width: 150px; 
}
footer{
    padding: 10px 20px;
}