body{
    background:rgb(39, 71, 144);
    color:rgb(255, 255, 255);
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
   padding: 1px;
   height: 100px;
   background-color: rgb(56, 132, 207);
   font-size: 25px;
   text-align: left;
}
header a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    margin-top: -40px;
    margin-left: 170px;
}
header  .games a{
    position: absolute;
    left: 180px;
    top: 100px;
}
header .logo a{
    background-image:url(Images/Logo.jpg);
    background-size: 200px;
    display:inline-block;
    height: 200px;
    text-indent: -999999999px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    left: -150px;
    top:55px
}


ul{
    margin-top: 60px;
    margin-right: 10px;
    margin-left: 20px;
    list-style-type: none;
}
li{

    display: inline-block;
}
section.feature-box.first-row{
   background-image: url(Images/CapsicumRecipe.jpg);
   background-size: 100%;
   background-position: center;
   background-repeat: no-repeat;
   height: 650px;
   color: rgb(255, 255, 255);
   padding: 20px;
   display: flex;
   flex-direction: row;
   align-items: center;
   flex-direction: column;
}

.feature-box.first-row div {
    margin: 15px 0; 
    width: 100px;
}

.feature-box.first-row .address {
    font-size: 30px; 
    width: 150px; 
}
footer{
    background: black;
    padding: 10px 20px;
}